* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
    width: 60%;
    height: 550px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid green;
    display: grid;
    gap: 10px;
}
[class*="grid-item"] {
    color: black;
    background-color: rgb(155,207,11);
    font-size: 20px;
    padding: 20px;
}
.item-1{
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
}
.item-2{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 1;
}
.item-3{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 11;
}
.item-4{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 10;
}
.item-5{
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 10;
    grid-row-end: 11;
}